<% if flash[:notice] %>
  <p><%= flash[:notice] %></p>
<% end %>
<div class="top">
<h1>welcome to Bookers !!</h1>
<p>In Bookers,</p>
<p>you can share and exchange your opinions,inpressions,and emotions</p>
<p>about various books!</p>
<div class="top-row">
<%= link_to "login",new_user_session_path(@user,session) %>
<%= link_to "signup",new_user_registration_path %>
</div>
<footer>
    <div class ="row">
      <p>CopyRight Infratop.inc</p>
    </div>
  </footer>