// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.box2{
	margin-left:20px;
}
.top{
	margin-right: 60px;
    margin-left: 60px;
    padding-left: 30px;
    padding-right: 30px;
}
.image1 {
background-image: url(/railroad-tracks-163518_1280.jpg);
}
.image2 {
background-image: url(/spices-2902439_1280.jpg);
}
.image3 {
background-image: url(/iceland-5217702_1280.jpg);
}
.image4 {
background-image: url(/storm-5220380_1280.jpg);
}
.image5 {
background-image: url(/locomotive-60539_1280.jpg);
}
#container{
	height: 500px;
}
.theTarget{
	height: 400px;
}
