// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: gray;
  }

th {
  padding-bottom: 5px;
  text-align: left;
}

td {
  padding-right: 20px;
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  }
.head-top {
	width: 100%;
	margin-top: 0;
}
nav{
	list-style: none;
	overflow: hidden;
}
nav li{
	text-decoration: none;
	float: right;
	padding: 10px;
	text-align: center;
	width: 100px;
}

  h2,h3 {
    text-align: left;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 40px;
  }

  h3:first-child{
  color: white;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }

label {
  display: block;
}
.profile-container{
	margin-right: auto;
	margin-left: 30px;
	padding-left: 15px;
  padding-right: 15px;
  height: 100%;
}
.box1{
	width: 25%;
	display: inline-block;
  float: left
}
.profile-index{
  float: right;
  width: 65%;
  potision: relative;
}
.user-edit{
  margin-left: 30px;
}
